body {
    display: grid;
    justify-content: center;
    font-family: 'Baloo Chettan 2', cursive;
}

.zip-feelings-container {
    justify-content: center;
}

label {
    display: block;
    font-weight: 600;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.zipcode-input {
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    height: 20px;
    border: thin solid #cccccc;
}

.feelings-textarea {
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    height: 40px;
    resize: none;
    border: thin solid #cccccc;
}

.generate-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 90px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    background-color: #A6929D; 
    letter-spacing: 1px;
}

.holder-entry-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #E6D9D3;
    border-radius: 8px;
    margin: 30px 0;
    height: 300px;
}
