body {
    display: grid;
    justify-content: center;
    font-family: 'Baloo Chettan 2', cursive;
}

.zip-feelings-container {
    justify-content: center;
}

.holder-entry-container {
    display: flex;
    justify-content: center;
    background: #E6D9D3;
    border-radius: 8px;
    margin-top: 30px;
    height: 300px;
}

input {
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    height: 20px;
}

.generate-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button {
    width: 90px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    background-color: #A6929D; 
    letter-spacing: 1px;
}
